{% extends "pages/base.html" %}
{% block content %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row" id="proBanner">
            </div>
            <div class="page-header">
              <h3 class="page-title">
                <div class="toast-body" id="toastmessage">
                </div>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <div class="alert alert-primary " align="center" style="border-radius:25px;position:absolute; margin-left:25%;width:20%;" id="load" role="alert">
                       {{ message }}
                      </div>

                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Activity
              </h3>
<!--              <nav aria-label="breadcrumb">-->
<!--                <ul class="breadcrumb">-->
<!--                  <li class="breadcrumb-item active" aria-current="page">-->
<!--                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </nav>-->
            </div>
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                                {% if data.items %}
                    <h4 class="card-title">Activity Log</h4>
                                {% endif %}
                      <!-- <button class="btn btn-primary btn-sm btn-rounded float-right pl-4 pr-4 pb-2 pt-2 mb-1 mr-5"   type="button" data-toggle="modal" data-target="#exampleModaladd" value="add" title="Edit"><i class="fa fa-edit"></i>Add Data</button> -->
                    <div class="input-group rounded">
<!--                        <form method="post" action="/search">-->
<!--                            <input type="search" id="search_text" name="search_text" class="form-control form-rounded" placeholder="Search" style="border-radius: 1rem;" aria-label="Search" aria-describedby="search-addon" />-->
<!--&lt;!&ndash;                            <button type="submit" class="tn btn-primary btn-sm btn-rounded float-right">Search</button>&ndash;&gt;-->
<!--                             <button type="submit" class="btn btn-gradient-info btn-sm btn-rounded btn-sm float-right" style="border: 1px solid;" >Search</button>-->
<!--                        </form>-->

                  </div>

                <script>
                  $(document).ready(function() {
                    $('#example').DataTable();
                } );

                </script>

                    <table id="example" class="table table-striped"" style="width:100%">
               {% if data.items %}
                      <thead>

                    <tr>
                      <th> id </th>
                        <th> Author </th>
                        <th> Action Changes </th>
                        <th> Ip Address </th>
                        <th> Date created </th>
                    </tr>
                    </thead>
            {% else %}
                    <h6 >No Record found</h6>
                 {% endif %}

        <tbody>
        {% if data %}
             {% for vehicle in data.items %}
             <tr>
                 <td>{{ vehicle.id }}</td>
                 <td>  {{ vehicle.username }} </td>
                 <td>  {{ vehicle.changes }} </td>
                 <td>{{ vehicle.ip }}</td>
                 <td> {{ vehicle.date_updated }} </td>
             </tr>
                        {% endfor %}
        {% else %}
        <tr>No Record found</tr>
        {% endif %}
        </tbody>
    </table>
                  {% for page_num in data.iter_pages(left_edge=1, right_edge=1,
                          left_current=1, right_current=2) %} {% if page_num %} {% if data.page ==
                          page_num %}
                          <a
                            class="btn btn-primary btn-sm btn-rounded p-6 mt-2 " style="border: 0px; background-color:#b66dff"
                            href="{{ url_for('main.activitylog', page=page_num) }}"
                            >{{ page_num }}</a
                          >
                          {% else %}
                          <a
                            class="btn btn-outline btn-sm btn-rounded p-6 mt-2" style="border: 0px;"
                            href="{{ url_for('main.activitylog', page=page_num) }}"
                            >{{ page_num }}</a
                          >
                          {% endif %} {% else %} ... {% endif %} {% endfor %}


                </div>
              </div>
            </div>

          </div>
<!--          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <form class="pt-3" action="" method="POST">-->
<!--            <div class="form-group">-->
<!--              <input type="hidden" name="id" value="id" >-->
<!--              <input type="text" name="vehicle" class="form-control form-control-lg" value="" id="exampleInputvehicle" placeholder="vehicle" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <input type="text" name="model" class="form-control form-control-lg" value="" id="exampleInputmodel" placeholder="model" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <input type="text" name="color" class="form-control form-control-lg" value="" id="exampleInputcolor" placeholder="color" required >-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <input type="text" name="type" class="form-control form-control-lg" value="" id="exampleInputtype" placeholder="type" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <input type="text" name="numberplate" class="form-control form-control-lg" value="" id="exampleInputnumberplate" placeholder="number plate" required>-->
<!--            </div>-->
<!--            <div class="mt-3">-->
<!--              <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Update</button>-->
<!--            </div>-->

<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
  {% endblock %}